<!DOCTYPE html>
<html lang="zh_TW">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>力麒天沐</title>

    <meta name="description" content="天母核心美境，磺溪第一排、綠堤樹海之上，俯瞰公園林蔭、磺溪彩虹橋相伴，生活綠景一氣呵成；力麒建設、李天鐸大師聯手共塑藝術建築，得天獨厚、一遇難求。">
    <meta property="og:title" content="力麒天沐 天母磺溪畔、森情之首‧李天鐸‧92-98坪SC鋼骨" />
    <meta property="og:description" content="天母核心美境，磺溪第一排、綠堤樹海之上，俯瞰公園林蔭、磺溪彩虹橋相伴，生活綠景一氣呵成；力麒建設、李天鐸大師聯手共塑藝術建築，得天獨厚、一遇難求。" />
    <meta property="og:url" content="https://case.hiyes.tw/lilingtienmu/" />
    <meta property="og:image" content="https://case.hiyes.tw/lilingtienmu/img/og.jpg" />

    <link rel="icon" href="<%= BASE_URL %>favicon.png" />

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-17198937-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5SGDFVQ');
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173897133-71"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-173897133-71');
    </script>

    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PP4C4HW');
    </script>
</head>

<body>
    <noscript>
        <strong>We're sorry but vue-house doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong>
    </noscript>

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SGDFVQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PP4C4HW" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <div id="app"></div>

    <link rel="stylesheet" href="https://cdn.pannellum.org/2.5/pannellum.css" />
    <link rel="stylesheet" href="https://unpkg.com/fullpage.js/dist/fullpage.min.css">
    <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>


    <!-- built files will be auto injected -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
</body>

</html>